<template>
	<Panel title="Stats" opened>
		<div class="description">The statistics of your character:</div>
		<div class="container">
			<div class="block">
				<div class="title">Strength</div>
				<input type="text" class="value" v-model="$store.state.stats.strength">
			</div>
			<div class="block">
				<div class="title">Dexterity</div>
				<input type="text" class="value" v-model="$store.state.stats.dexterity">
			</div>
			<div class="block">
				<div class="title">Intelligence</div>
				<input type="text" class="value" v-model="$store.state.stats.intelligence">
			</div>
			<div class="block">
				<div class="title">Critical Strike</div>
				<input type="text" class="value" v-model="$store.state.stats.criticalHit">
			</div>
			<div class="block">
				<div class="title">Determination</div>
				<input type="text" class="value" v-model="$store.state.stats.determination">
			</div>
			<div class="block">
				<div class="title">Direct Hit Rate</div>
				<input type="text" class="value" v-model="$store.state.stats.directHit">
			</div>
			<div class="block">
				<div class="title">Skill Speed</div>
				<input type="text" class="value" v-model="$store.state.stats.skillSpeed">
			</div>
			<div class="block">
				<div class="title">Weapon Damage</div>
				<input type="text" class="value" v-model="$store.state.stats.weaponDamage">
			</div>
			<div class="block">
				<div class="title">Weapon Delay</div>
				<input type="text" class="value" v-model="$store.state.stats.weaponDelay">
			</div>
		</div>
	</Panel>
</template>

<script>

	import Panel from "@/components/Panel";
	export default {
		components: { Panel }
	}

</script>

<style lang="scss" scoped>

	.container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 10px 20px;
	}

	input {
		width: 100%;
	}

	.description {
		margin-bottom: 20px;
	}

</style>