<template>
	<Panel title="Character" opened>
		<div class="description">The basic information of your character:</div>
		<div class="container">
			<div class="block">
				<div class="title">Class</div>
				<select v-model="$store.state.className">
					<option value="brd">BRD (Bard)</option>
					<option value="dnc">DNC (Dancer) (WIP)</option>
					<option value="sam">SAM (Samurai)</option>
				</select>
			</div>
		</div>
		<div class="searchContainer">
			<div class="top">
				<div class="block">
					<div class="title">Search Character</div>
					<input type="text" v-model="name">
				</div>
				<div class="block">
					<div class="title">Server</div>
					<select v-model="server">
						<option value="Exodus">Exodus</option>
						<option value="Famfrit">Famfrit</option>
					</select>
				</div>
				<div class="block searchButton">
					<button @click="searchCharacter">Search</button>
				</div>
			</div>
			<div class="block wide" v-if="results.length > 0">
				<div class="title">Characters Found</div>
				<div class="characters">
					<div class="character" v-for="character of results" :key="character.ID">
						<img class="image" :src="character.Avatar">
						<div class="name">{{ character.Name }} - {{ character.Server }}</div>
						<button @click="lookCharacter(character.ID)">Look</button>
						<button @click="importCharacter(character.ID)">Import</button>
					</div>
				</div>
			</div>
		</div>
	</Panel>
</template>

<script>

	import Axios from "axios";
	import Panel from "@/components/Panel";

	export default {

		components: { Panel },

		data() {
			return {
				name: "",
				server: "Exodus",
				results: []
			};
		},

		methods: {

			async searchCharacter() {
				let result = await Axios.get("https://xivapi.com/character/search?name=" + this.name + "&server=" + this.server);
				this.results = result.data.Results;
			},

			lookCharacter(id) {
				window.open("https://na.finalfantasyxiv.com/lodestone/character/" + id + "/", "__blank");
			},

			async importCharacter(id) {
				let result = await Axios.get("https://xivapi.com/character/" + id);
				console.log(result);
				let stats = result.data.Character.GearSet.Attributes;
				this.$store.state.stats.strength = stats[1];
				this.$store.state.stats.dexterity = stats[2];
				this.$store.state.stats.intelligence = stats[4];
				this.$store.state.stats.directHit = stats[22];
				this.$store.state.stats.criticalHit = stats[27];
				this.$store.state.stats.determination = stats[44];
				this.$store.state.stats.skillSpeed = stats[45];
			}

		}

	}

</script>

<style lang="scss" scoped>

	.container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 10px 20px;
		margin-bottom: 20px;
	}

	.searchContainer {
		display: flex;
		flex-direction: column;
		.top {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			grid-gap: 10px 20px;
			.block {
				flex-grow: 1;
				flex-basis: 0;
			}
		}
	}

	input, select {
		width: 100%;
	}

	.description {
		margin-bottom: 20px;
	}

	.searchButton {
		display: flex;
		align-items: flex-end;
	}

	.wide {
		margin-top: 20px;
	}

	.characters {
		max-height: 200px;
		overflow-y: auto;
		.character {
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 4px;
			&:not(:last-of-type) {
				border-bottom: 1px solid #aaa;
			}
			.image {
				width: 40px;
				height: 40px;
			}
			.name {
				flex-grow: 1;
				padding: 0 10px;
			}
			button {
				margin: 0;
				margin-right: 10px;
			}
		}
	}

</style>