<template>
  <div id="simulation">

    <PanelSearch></PanelSearch>

    <PanelStats></PanelStats>

    <Panel title="Scaling">
      <p>Select the stats for which to calculate a weighting:</p>
      <div class="scaling">
        <div class="scaleBlock">
          <input id="chkScaleStrength" type="checkbox" v-model="scale.strength">
          <label for="chkScaleStrength">Scale Strength</label>
        </div>
        <div class="scaleBlock">
          <input id="chkScaleDexterity" type="checkbox" v-model="scale.dexterity">
          <label for="chkScaleDexterity">Scale Dexterity</label>
        </div>
      </div>
      <div class="scaling">
        <div class="scaleBlock">
          <input id="chkScaleCriticalHit" type="checkbox" v-model="scale.criticalHit">
          <label for="chkScaleCriticalHit">Scale Critical Strike</label>
        </div>
        <div class="scaleBlock">
          <input id="chkScaleDetermination" type="checkbox" v-model="scale.determination">
          <label for="chkScaleDetermination">Scale Determination</label>
        </div>
        <div class="scaleBlock">
          <input id="chkScaleDirectHit" type="checkbox" v-model="scale.directHit">
          <label for="chkScaleDirectHit">Scale Direct Hit Rate</label>
        </div>
        <div class="scaleBlock">
          <input id="chkScaleSkillSpeed" type="checkbox" v-model="scale.skillSpeed">
          <label for="chkScaleSkillSpeed">Scale Skill Speed</label>
        </div>
      </div>
    </Panel>

    <Panel title="Advanced Options">
      <div class="scaling">
        <div class="block">
          <label for="">Iterations</label>
          <select v-model="totalIterations">
            <option :value="100">100 (Quick)</option>
            <option :value="250">250 (Standard)</option>
            <option :value="1000">1000 (Precise)</option>
          </select>
        </div>
      </div>
    </Panel>

    <Panel>
      <button @click="startSimulation">Start</button>
    </Panel>

    <div class="loadingBarContainer" v-if="running">
      <div class="loadingBar" :style="{width: percentCompleted + '%'}"></div>
    </div>

    <Panel title="Results" v-if="!running && averageDPS" opened>
      DPS: {{ averageDPS.toFixed(2) }}
    </Panel>

    <Panel title="Stat weights" v-if="!running && averageDPS && hasOneWeight" opened>
      <p>Each additionnal points in these stats will approximately increase your DPS by the following amount:</p>
      <div class="statWeights">
        <div class="block" v-if="averageDPSIncrease('strength')">
          <div class="label">Strength</div>
          <input class="value" :value="averageDPSIncrease('strength').toFixed(2)" readonly>
        </div>
        <div class="block" v-if="averageDPSIncrease('dexterity')">
          <div class="label">Dexterity</div>
          <input class="value" :value="averageDPSIncrease('dexterity').toFixed(2)" readonly>
        </div>
        <div class="block" v-if="averageDPSIncrease('criticalHit')">
          <div class="label">Critical Strike</div>
          <input class="value" :value="averageDPSIncrease('criticalHit').toFixed(2)" readonly>
        </div>
        <div class="block" v-if="averageDPSIncrease('determination')">
          <div class="label">Determination</div>
          <input class="value" :value="averageDPSIncrease('determination').toFixed(2)" readonly>
        </div>
        <div class="block" v-if="averageDPSIncrease('directHit')">
          <div class="label">Direct Hit Rate</div>
          <input class="value" :value="averageDPSIncrease('directHit').toFixed(2)" readonly>
        </div>
        <div class="block" v-if="averageDPSIncrease('skillSpeed')">
          <div class="label">Skill Speed</div>
          <input class="value" :value="averageDPSIncrease('skillSpeed').toFixed(2)" readonly>
        </div>
      </div>
    </Panel>

    <Panel class="panelActionList" title="Example action list" v-if="!running && actions && actions.length > 0">
      <div class="description">Here is a sample action list from one of the simulations:</div>
      <div class="toggles">
        <input id="chkShowDots" type="checkbox" v-model="showDots">
        <label for="chkShowDots">Show DoTs</label>
        <input id="chkShowAutoAttacks" type="checkbox" v-model="showAutoAttacks">
        <label for="chkShowAutoAttacks">Show auto attacks</label>
      </div>
      <div class="actions">
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Spell/Action</th>
              <th>Damage</th>
              <th>Critical Hit</th>
              <th>Direct Hit</th>
              <th>Buffs</th>
              <th>Debuffs</th>
              <th>Resources</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(action, actionIndex) of visibleActions" :key="'action-' + actionIndex"
              :class="[action.type]">
              <td>{{ (action.time / 1000).toFixed(2) }} s</td>
              <td>
                <div class="cell">
                  <img class="icon" :src="'img/icons/spells/' + action.spell.id + '.png'">
                  {{ action.spell.name }}
                </div>
              </td>
              <td>{{ action.damage.damage ? action.damage.damage : "" }}</td>
              <td>{{ action.damage.damage && action.damage.criticalHit ? "X" : "" }}</td>
              <td>{{ action.damage.damage && action.damage.directHit ? "X" : "" }}</td>
              <!-- <td>{{ action.buffs.map(b => b.name).join(", ") }}</td> -->
              <td>
                <div class="cell">
                  <img class="icon" v-for="(buff, buffIndex) of action.buffs" :src="'img/icons/buffs/' + buff.id + '.png'"
                    :key="'action-' + actionIndex + '-buff-' + buffIndex">
                </div>
              </td>
              <td>
                <div class="cell">
                  <img class="icon" v-for="(debuff, debuffIndex) of action.debuffs" :src="'img/icons/debuffs/' + debuff.id + '.png'"
                    :key="'action-' + actionIndex + '-buff-' + debuffIndex">
                </div>
              </td>
              <td>
                <div class="cell">
                  {{ (action.resources || []).map(r => (r.name || r.id) + ':' + r.amount).join(", ") }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </Panel>

  </div>
</template>

<script>

  import Panel from "@/components/Panel";
  import PanelStats from "@/components/panels/PanelStats";
  import PanelSearch from "@/components/panels/PanelSearch";

  export default {

    name: "home",

    components: { Panel, PanelStats, PanelSearch },

    data() {
      return {
        scale: {
          strength: false,
          dexterity: false,
          criticalHit: false,
          determination: false,
          directHit: false,
          skillSpeed: false
        },
        workerCount: 8,
        workers: [],
        results: [],
        actions: null,
        iterations: 0,
        totalIterations: 250,
        running: false,
        showDots: false,
        showAutoAttacks: false
      };
    },

    async mounted() {
      for (let i = 0; i < this.workerCount; i++) {
        let w = new Worker("engine/worker.js");
        this.workers.push(w);
      }
    },

    computed: {
      averageDPS() {
        let total = 0;
        let amount = 0;
        for (let result of this.results) {
          let roll = result.result.filter(r => r.roll == "dps")[0];
          if (!roll) {
            return null;
          }
          if (roll.averageDPS) {
            total += roll.averageDPS;
            amount++;
          }
        }
        if (amount > 0) {
          return total / amount;
        }
        return null;
      },
      averageDPSIncrease() {
        return rollToGet => {
          let total = 0;
          let amount = 0;
          for (let result of this.results) {
            let roll = result.result.filter(r => r.roll == rollToGet)[0];
            if (!roll) {
              return null;
            }
            if (roll.averageDPSIncrease) {
              total += roll.averageDPSIncrease;
              amount++;
            }
          }
          if (amount > 0) {
            return total / amount;
          }
          return null;
        }
      },
      scalesAmount() {
        let amount = 1;
        if (this.scale.strength)      { amount++; }
        if (this.scale.dexterity)     { amount++; }
        if (this.scale.criticalHit)   { amount++; }
        if (this.scale.determination) { amount++; }
        if (this.scale.directHit)     { amount++; }
        if (this.scale.skillSpeed)    { amount++; }
        return amount;
      },
      percentCompleted() {
        return Math.floor(this.iterations * 100 / this.totalIterations / this.scalesAmount / this.workerCount);
      },
      hasOneWeight() {
        return this.averageDPSIncrease('strength') || this.averageDPSIncrease('dexterity')
          || this.averageDPSIncrease('criticalHit') || this.averageDPSIncrease('directHit')
          || this.averageDPSIncrease('determination') || this.averageDPSIncrease('skillSpeed');
      },
      visibleActions() {
        let remove = [];
        if (!this.showDots) {
          remove.push("dot");
        }
        if (!this.showAutoAttacks) {
          remove.push("autoattack");
        }
        if (remove.length == 0) {
          return this.actions;
        }
        return this.actions.filter(a => remove.indexOf(a.type) == -1);
      }
    },

    methods: {
      startSimulation() {
        this.actions = null;
        this.results = [];
        this.iterations = 0;
        this.running = true;
        for (let worker of this.workers) {
          worker.onmessage = e => {
            if (e.data.type == "result") {
              this.results.push(e.data);
              if (!this.actions && e.data.result[0].actions) {
                this.actions = e.data.result[0].actions;
              }
            } else if (e.data.type == "iteration") {
              this.iterations++;
              if (this.iterations == this.totalIterations * this.workerCount * this.scalesAmount) {
                // TODO - Done!
                this.running = false;

              }
            }
          }
        }
        for (let i = 0; i < this.workers.length; i++) {
          this.workers[i].postMessage({
            type: "start",
            weight: [],
            class: this.$store.state.className,
            stats: this.$store.state.stats,
            scale: this.scale,
            iterations: this.totalIterations,
            index: i
          });
        }
        setTimeout(() => {
          document.getElementById("app").scroll({
            top: 1000000,
            behavior: "smooth"
          });
        }, 0);
      }
    }

  }

</script>

<style lang="scss" scoped>

  #simulation {
    width: 100%;
    padding: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .stats, .charStats, .scaling, .statWeights {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px 20px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    .block {
      &.wide {
        grid-column: 1/-1;
      }
      input, select {
        width: 100%;
      }
    }
  }

  .actions {
    color: black;
    table {
      border-collapse: collapse;
    }
    tr {
      background-color: #eee;
      &.gcd {
        background-color: #fff;
      }
      &.offgcd {
        color: #333;
      }
      &.dot {
        font-size: 10px;
        height: 10px;
        td {
          opacity: 0.5
        }
        .icon {
          width: 12px;
          height: 12px;
          margin-left: 4px;
          margin-right: 12px;
        }
      }
      &.autoattack td {
        opacity: 0.5;
      }
    }
    th {
      background-color: #ddd;
    }
    table, th, td {
      border: 1px solid #aaa;
    }
    th, td {
      padding: 4px 8px;
    }
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .cell {
      display: flex;
      align-items: center;
    }
  }

  .loadingBarContainer {
    background-color: #666;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    .loadingBar {
      background-color: white;
      height: 100%;
      transition: width 0.3s ease-out;
    }
  }

  p {
    margin-top: 0;
  }

  @media screen and (max-width: 600px) {
    #simulation {
      padding: 0;
    }
    .panel {
      box-shadow: none;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
    }
  }

  .toggles {
    margin-bottom: 20px;
  }

</style>
