<template>
	<div class="panel">
		<div class="title" v-if="title" @click="showBody = !showBody">
			<div class="titleText">
				{{ title }}
			</div>
			<div class="arrow" v-if="showBody">▲</div>
			<div class="arrow" v-if="!showBody">▼</div>
		</div>
		<div class="body" v-show="showBody || !title" :class="{show: showBody}">
			<slot></slot>
		</div>
	</div>
</template>

<script>

	export default {
		name: "panel",
		props: {
			title: String,
			opened: Boolean
		},
		data() {
			return {
				showBody: this.opened
			};
		}
	}

</script>


<style lang="scss" scoped>

	.panel {
		background-color: #444444;
		box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
		border-radius: 1px;
		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
		& > .title {
			padding: 20px;
			cursor: pointer;
			user-select: none;
			display: flex;
			.titleText {
				flex-grow: 1;
			}
			.arrow {
				color: #888;
			}
		}
		& > .body {
			padding: 20px;
			&.show {
				border-top: 1px solid #888;
			}
		}
	}

</style>
