<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }

  #app {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    overflow-y: auto;
  }

  input, select {
    padding: 4px 8px;
    background-color: #333;
    border: 1px solid #888;
    color: #eee;
    font-size: 18px;
    border-radius: 1px;
    &:focus:not(:read-only), &:active:not(:read-only) {
      border-color: #eee;
    }
  }
  select {
    padding: 3px 5px;
  }

  button {
    padding: 4px 8px;
    font-size: 18px;
    background-color: #ccc;
    border: 1px solid #666;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    &:hover {
      border-color: white;
    }
    &:active {
      background-color: #999;
    }
  }

</style>
